* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  padding: 36px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1840px;
  height: 455px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf0fa;
  border-radius: 10px;
}

.section-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.section-modal--active {
  display: flex;
}

.section-content {
  margin-left: 72px;
}

.section-image {
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 510px;
  height: 250px;
}

.content__title {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #1f4284;
}

.content__text {
  font-family: Manrope;
  font-size: 17px;
  font-weight: 400;
  line-height: 27.2px;
  text-align: left;
  color: #727272;
}

.content__btn {
  position: relative;
  width: 341px;
  height: 68px;
  padding: 12px 12px 12px 24px;
  border: none;
  border-radius: 60px;

  background: #244c98;
  text-align: left;
  font-family: Manrope;
  font-size: 18px;
  color: #ffffff;

  transition: all 0.4s;
}

.content__btn::after {
  position: absolute;
  top: 12px;
  right: 12px;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url("./assets/image/Arrow-btn.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content__btn:hover {
  cursor: pointer;
}

.image {
  border-radius: 0 10px 10px 0;
}

.modal {
  width: 100%;
  max-width: 500px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #f0f4fc;

  font-family: Manrope;
}

.modal__close {
  width: 52px;
  height: 52px;
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  background-image: url("./assets/image/close-btn.png");
  background-position: center;
  background-repeat: no-repeat;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 18px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.78px;
  text-align: left;
  color: #323232;
}

.form__input {
  width: 100%;
  padding: 24px;
  border: none;
  border-radius: 10px;
  background: #d7e2f6;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  text-align: left;
}

.form__input::placeholder {
  color: #1f4284;
}

.label-text + .label-text {
  margin-top: 4px;
}

.form__label-checkbox {
  margin: 24px 0;
  display: flex;
  gap: 14px;
  align-items: center;

  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  text-align: left;
  color: #323232;
}

.form__label-checkbox input {
  display: none;
}

.form__input-checkbox {
  display: block;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #323232;
  border-radius: 3px;
}

.form__link {
  margin-bottom: 36px;
  width: min-content;

  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 27.32px;
  text-align: left;

  color: #244c98;
}

.form__link:hover {
  cursor: pointer;
}

.form__btn {
  width: 100%;
  max-width: 452px;
  height: 65px;
  padding: 18px 12px 18px 12px;
  gap: 64px;
  border-radius: 4px;
  border: 1px solid #244c98;

  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}

.form__btn + .form__btn {
  margin-top: 4px;
}

.form__btn:hover {
  cursor: pointer;
}

.form__btn-signIn {
  background: #244c98;
  color: #ffffff;
}

.form__btn-register {
  background: transparent;
  color: #244c98;
}
